*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:"Inter", sans-serif;
}
main{
    background-color: #314B07; /* Verde Escuro */
}
body{
    background-color: #ffffff;
    font-family:"Inter", sans-serif;
}
header .container{
    font-family:"Inter", sans-serif;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}
header{
    background-color: #314B07; /* Verde Escuro */
    padding: 17px;
}
header .logo{
    display: flex;
    align-items: center;
    gap: 12px;
}
header .logo img{
    width: 30px;
    height: 30px
}
header .nome-empresa{
    font-size: 12px;
    color: white;
}
header .menu{
    display:flex;
    flex-direction: column;
    gap: 4px;
    cursor: pointer;
}
header .menu span{
    display: block;
    width: 25px;
    height: 3px;
    background-color: #fff;
    border-radius: 2px;
}
main .menu-lateral{
    background-color:#6B9C1D;  
    position: fixed;
    height: 100%;
    align-items: center;
    width: 30%;
    max-width: 250px;
    border-left:4px solid rgba(0, 0, 0, 0.685) ;
    z-index: 100;
    top: 0; 
    right: 0; 
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
}
main .menu-lateral .header-menu{
    background-color: #314B07; 
    border-bottom: 2px solid #fff;
    padding: 30px;
}
main .container-cabecalho-botao{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}
main .menu-lateral .texto-principal-botao h2{
    color: #fff;
}
main .menu-lateral .botao-fechar button{
    background: none;
    border: none;
    font-size: 22px;
    cursor: pointer;
    color: #fff;
}
main .menu-lateral.ativo {
    transform: translateX(0);
}
.conteudo-principal-menu{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    margin-top: 20px;
}
.conteudo-principal-menu .secao-links{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.conteudo-principal-menu a{
    text-decoration: none;
    display: block;
    color: #fff;
    background-color: #6B9C1D;
    border-bottom: 2px solid #DDDDDD;
    border: 100%;
    font-size: 17px;
    padding: 13px;
    width: 100%;
    height: 50px;
    text-align: center;
}

section .container-texto-money{
    font-family: "Inter", sans-serif;
    margin: 0 17px;
}
section .container-texto-money h1{
    color: white;
}
section .container-texto-money span{
    color: #6B9C1D;
}
section .container-texto-money p{
    color: #DDDDDD; /* Cinza Claro */
    word-wrap: break-word;
    font-size: 18px; /* Ajuste para melhor leitura */
    margin-top: 16px;
}
section .texto-our-off{
    color: white;
    font-family: "Inter", sans-serif;
    margin: 17px;
    font-size: 12px;
}
section .container-card{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 14px;
    width: 100%;
    margin-bottom: 80px;
    margin-top: 30px;
}
section .container-card .card{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 14px;
    font-family: "Inter", sans-serif;
    color: #FFFFFF; /* Branco */
    height: 150px;
    border-radius: 3px;
    width: 120px;
    justify-content: center;
    background-color: #6B9C1D; /* Verde Destaque */
}
section .container-card img{
    width: 30px;
    width: 30px;
    margin-bottom: 16px;
}
footer .container{
    margin-bottom: 30px;
    margin-left: 5px;
}
footer a{
    text-decoration: none;
    color: #fff;
    margin-left: 12px;
    font-size: 17px;
    font-family: "Inter", sans-serif;
}
#fundo-debaixo{
    background-color: #ffffff;
}
#fundo-debaixo .imagem-central{
    display: flex;
    padding:20px;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
}
#fundo-debaixo .imagem-central img{
    width: 90%;
    height: auto;
    border-radius: 20px;
}
@media screen and (min-width: 768px) {
header .container{
    padding: 10px;
    }
header .logo{
    gap: 15px;
    }
header .logo img{
    width: 40px;
    height: 40px
}
header .nome-empresa{
    font-size: 22px;
    }
header .botao-get{
    padding: 15px;
    } 
main .container-texto-money{
    padding: 3px 25px;
    font-size: 32px;
}
section .texto-our-off{
    margin: 24px;
    font-size: 16px;
    justify-content: center;
}
section .container-card .card{
    font-size: 25px;
}
section .container-card .card{
    width: 400px;
    height: 300px;
}
section .container-card img{
    width: 100px;
    height: 100px;
}
footer .container{
    margin: 37px;
}
}