*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
main{
    background-color: #314B07;
}
body{
    background-color: #ffffff;
    font-family:"Inter", sans-serif;
}
header .container{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}
header{
    background-color: #314B07;
    padding: 25px 17px;
    position:sticky;
    border-bottom: 1px solid #0f0d0d;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.479);
    top :0;
    width: 100%;
    z-index: 1;
}
header .logo{
    display: flex;
    align-items: center;
    gap: 12px;
}
header .logo img{
    width: 30px;
    height: 30px
}
header .nome-empresa{
    font-size: 12px;
    color: white;
}
header .menu{
    display:flex;
    flex-direction: column;
    gap: 4px;
    cursor: pointer;
}
header .menu span{
    display: block;
    width: 25px;
    height: 3px;
    background-color: #fff;
    border-radius: 2px;
}
main .menu-lateral{
    background-color:#6B9C1D;  
    position: fixed;
    height: 100%;
    align-items: center;
    width: 50%;
    max-width: 250px;
    border-left:1px solid rgba(0, 0, 0, 0.685) ;
    z-index: 100;
    top: 0; 
    right: 0; 
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
}
main .menu-lateral .header-menu{
    background-color: #314B07; 
    border-bottom: 1px solid #fff;
    padding: 25px 17px;
}
main .container-cabecalho-botao{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}
main .menu-lateral .texto-principal-botao h2{
    color: #fff;
}
main .menu-lateral .botao-fechar button{
    background: none;
    border: none;
    font-size: 22px;
    cursor: pointer;
    color: #fff;
}
main .menu-lateral.ativo {
    transform: translateX(0);
}
.conteudo-principal-menu{
    display: block;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}
.conteudo-principal-menu .secao-links{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.conteudo-principal-menu a{
    display: flex;
    align-items: center;
    justify-content: flex-start; 
    text-decoration: none;
    color: #fff;
    border-bottom: 2px solid #DDDDDD;
    font-size: 17px;
    width: 100%;
    height: 50px;
    transition: background-color 0.2s ease-in-out; 
    padding-left: 20px;
}
main .conteudo-principal-menu .secao-links a:hover{
    background-color: #314B07;
}
.conteudo-principal-menu img{
    width: 20px;
    height: 20px;
}
.conteudo-principal-menu span {
    margin-left: 15px;
}
section .container-texto-money{
    font-family: "Inter", sans-serif;
    margin-left: 17px;
    margin-right:17px ;
    padding-top: 20px;
}
section .container-texto-money h1{
    color: white;
}
section .container-texto-money span{
    color: #6B9C1D;
}
section .container-texto-money p{
    color: #DDDDDD;
    word-wrap: break-word;
    font-size: 18px; 
    margin-top: 16px;
}
.texto-our-off-container{
    color: white;
    font-family: "Inter", sans-serif;
    font-size: 12px;
    margin: 17px;
}
section .container-card{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 14px;
    width: 100%;
    margin-bottom: 80px;
    margin-top: 30px;
}
section .container-card .card{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 12px;
    font-family: "Inter", sans-serif;
    color: #FFFFFF; 
    height: 150px;
    border-radius: 3px;
    width: 120px;
    justify-content: center;
    background-color: #6B9C1D;
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25); /* Sombra para destacar os cards */
}
section .container-card img{
    width: 30px;
    margin-bottom: 16px;
}
#fundo-debaixo{
    background-color: #ffffff;
}
#fundo-debaixo .imagem-central{
    padding:30px;
    overflow: hidden;
}
#fundo-debaixo .imagem-central img{
    border-radius: 20px;
    height: auto;
    width: 100%; 
    max-width: 500px; 
    margin: 0 auto;
}
#container-about {
    background-color: #314B07;
    background-image: url("./feliz-gerente-de-banco-afro-americano-apertando-as-maos-de-um-cliente-apos-um-acordo-bem-sucedido-no-escritorio.jpg");
    background-size: cover;
    height: 500px;
    padding-top: 20px;
}
#container-about .grid{
    display: flex;
    justify-content:space-around;
    flex-wrap: wrap;
    gap:5px;
    align-items: center;
    margin: 17px;
}
#container-about .conteudo-grid{
    display: block;
    width: 170px;
    gap:100px;
    height: 300px;
    background-color: #FFFFFF;
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
    border-bottom-left-radius: 9px;
    border-bottom-right-radius: 9px;
}
#container-about .conteudo-grid img {
    width: 100%;
    height: 40%;
    object-fit: cover; 
}
#container-about .conteudo-grid img{
    width: 100%;
    height: 100px;
    border-top-left-radius: 9px;
    border-top-right-radius: 9px
}
#container-about .conteudo-grid h2{
    color: #000000;
    padding: 8px;
}
#container-about .conteudo-grid p{
    color: #242222;
    padding: 0 8px;
}
@media screen and (min-width: 768px) {
header{
    padding: 6px;
}
header .container{
    padding: 10px;
}
header .logo{
    gap: 15px;
}
header .logo img{
    width: 40px;
    height: 40px
}
header .nome-empresa{
    font-size: 22px;
}
header .botao-get{
    padding: 15px;
} 
section .container-texto-money{
    margin: 0 45px ;
    font-size: 29px;
}
section .texto-our-off-container{
    margin: 15px 45px;
    font-size: 16px;
    justify-content: center;
}
section .container-card .card{
    width: 400px;
    height: 300px;
}
section .container-card .card h3{
    font-size: 30px;
}
section .container-card img{
    width: 100px;
    height: 100px;
}
footer .container{
    margin: 37px;
}
main .menu-lateral{
    width: 60%;
}
#fundo-debaixo .imagem-central{
    padding: 60px;
}
#fundo-debaixo .imagem-central img{
    max-width: 1000px;
}
main .menu-lateral .header-menu{
    padding: 28px 17px;
}
.conteudo-principal-menu{
    margin-top: 87px;
}

}
